<div class="row bg-dark" id="footer">
  <div class="col-md-2">
    <ul>
      <h5>Contact</h5>
      <li><i class="fas fa-map-marker-alt"></i>Oxford street 244, London</li>
      <li><i class="fas fa-phone-square"></i> +752645487977</li>
      <li><i class="fas fa-envelope"></i> info@shop.com</li>

      <li class="social-footer pt-5">
        <a href="#"><i id="faceb" class="fab fa-facebook-f"></i></a>
        <a href="#"><i id="insta" class="fab fa-instagram pl-2"></i></a>
        <a href="#"><i id="tweet" class="fab fa-twitter pl-2"></i></a>
        <a href="#"><i id="snap" class="fab fa-snapchat-ghost pl-2"></i></a>

      </li>

    </ul>
  </div>
  <div class="col-md-2 footerinfo">
    <ul><h5>Shop</h5>
      <a href="#"><li>All shoes</li></a>
      <a href="#"><li>All clothes</li></a>
      <a href="#"><li>All brands</li></a>
      <a href="#"><li>Stores</li></a>


    </ul>
  </div>
  <div class="col-md-2 footerinfo1">
    <ul>
      <h5>Support</h5>
      <a href="#"><li>FAQ</li></a>
      <a href="#"><li>Size Information</li></a>
      <a href="#"><li>Track order</li></a>
      <a href="#"><li>Contact US</li></a>
    </ul>
  </div>
  <div class="col-md-2 footerinfo2">
    <ul>
      <h5>Information</h5>
      <a href="#"><li>Return POlicy</li></a>
      <a href="#"><li>Privacy Policy</li></a>
      <a href="#"><li>Terms</li></a>
      <a href="#"><li>About Us</li></a>
    </ul>
  </div>
  <div class="col-md-4">
    <h5>Newsletter</h5>
    <form class="mt-3">
      <input type="text" name="email" placeholder ="your email here .."><br>
      <button class="mt-2"type="submit" name="submit">Send</button>
    </form>
    <p>Get the latest news. Be The First !!</p>
  </div>
  <div class="col-12  bg-dark text-center text-light">All right reserved @2019</div>
</div>
